<div class="col-6">
 <div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatingInput" value="{{this.first_name}}" placeholder="First Name" name="first_name">
    <label for="floantingInput">First Name</label>
</div>
</div>

<div class="col-6">
 <div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatingInput" value="{{this.last_name}}" placeholder="Last Name" name="last_name">
    <label for="floantingInput">Last Name</label>
</div>
</div>

<div class="col-6">
 <div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatingInput" value="{{this.email}}" placeholder="email@email.com" name="email">
    <label for="floantingInput">Email</label>
</div>
</div>

<div class="col-6">
 <div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatingInput" value="{{this.phone}}" placeholder="Phone" name="phone">
    <label for="floantingInput">Phone</label>
</div>
</div>

<div class="col-12">
 <div class="form-floating mb-3">
    <textarea  class="form-control" id="floatingInput" style="height: 200px;" placeholder="Comments" name="comments">
        {{this.comments}}
    </textarea>
    <label for="floantingInput">Comments</label>
</div>
</div>

<div class="col-12 d-grid">
  <button class="btn btn-primary" type="submit" >Submit</button>
</div>